<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"] - محدوده اتوماسیون</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <style>
		@@font-face {
			font-family: 'dana';
			src: url('fonts/dana/dana.woff') format('woff');
		}
		body {
			font-family: 'dana', sans-serif;
		}
    </style>
</head>
<body>
    <div>
        <!-- main-area -->
        <main role="main">
            @RenderBody()
        </main>
    </div>



    @await RenderSectionAsync("Scripts", false).ConfigureAwait(false)
</body>
</html>