<!DOCTYPE html>
<html class="dark" lang="fa">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["Title"] - محدوده اتوماسیون</title>
	<style>
		@@font-face {
			font-family: 'dana';
			src: url('fonts/dana/dana.woff') format('woff');
		}

		body {
			font-family: 'dana', sans-serif;
		}
	</style>
	<link rel="stylesheet" href="/lib/tailwind/tailwind.css" />
	@await RenderSectionAsync("Css", false).ConfigureAwait(false)
</head>
<body class="bg-gray-800 text-gray-400 antialiased min-h-screen flex flex-col">
	<div class="">

		<!-- main-area -->
		<main role="main" class="flex-1 flex flex-col justify-center items-stretch">
			@RenderBody()
		</main>

		<footer class="w-full text-center py-3 text-xs text-gray-500">
			© 2025 Automation Center
		</footer>
	</div>


	@await RenderSectionAsync("Scripts", false).ConfigureAwait(false)
</body>
</html>