@using Auto.Web.Areas.Account.Controllers
@model DashboardViewModel
@{
    ViewData["Title"] = $"داشبورد";
    var chartData = System.Text.Json.JsonSerializer.Serialize(Model.ImageUsage);
}

<div class="p-6">
    <h2 class="text-2xl font-bold mb-4">Docker Dashboard</h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-8">
        <div class="bg-white shadow rounded p-4">
            <h3 class="text-sm text-gray-500">Total Containers</h3>
            <p class="text-2xl font-semibold">@Model.TotalContainers</p>
        </div>
        <div class="bg-green-100 shadow rounded p-4">
            <h3 class="text-sm text-gray-600">Running</h3>
            <p class="text-2xl font-bold text-green-800">@Model.Running</p>
        </div>
        <div class="bg-red-100 shadow rounded p-4">
            <h3 class="text-sm text-gray-600">Exited</h3>
            <p class="text-2xl font-bold text-red-800">@Model.Exited</p>
        </div>
    </div>

    <div class="bg-white shadow rounded p-4 w-50 h-50">
        <h3 class="text-lg font-semibold mb-2">Container Images Usage</h3>
        <canvas id="imageChart" ></canvas>
    </div>
</div>

@section Scripts{

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const chartData = @Html.Raw(chartData);
    const ctx = document.getElementById('imageChart').getContext('2d');
    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: Object.keys(chartData),
            datasets: [{
                data: Object.values(chartData),
                backgroundColor: ['#4ade80','#60a5fa','#f87171','#facc15','#c084fc']
            }]
        }
    });
</script>

}